
@{
    Layout = null;
}

<link href="~\Content\bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br /> <br />
        <div class="alert alert-danger"><h3>Login Ekranı</h3></div>
        <br />
        <label>Kullanıcı Adınız & Email Adresiniz</label>
        <input type="text" name="Username" class="form-control" />
        <label>Şifre Giriniz</label>
        <input type="password" class="form-control" name="Password" />


    </div>
</form>
